.task {
  background: var(--gray-500);
  border-radius: 8px;
  padding: 1rem;

  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.task svg {
  color: var(--gray-300);
  cursor: pointer;
}

.task svg:hover {
  background: var(--gray-400);
  color: var(--red-500);
  box-shadow: 0 0 0 3px var(--gray-400);
  border-radius: 2px;
}

.taskLabel {
  position: relative;
  padding-left: 2.25rem;

  font-size: 0.875rem;
  line-height: 1.4;
  cursor: pointer;

  flex: 1;
}

.taskLabel input:checked ~ p {
  text-decoration: line-through;
}

.task input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid var(--blue-500);
  background-color: transparent;
  transition: border 0.2s, background-color 0.2s;
}

.taskLabel:hover .checkmark {
  background-color: rgba(30, 111, 159, 0.2);
  border: 2px solid var(--blue-800);
}

.taskLabel input:checked ~ .checkmark {
  background-color: var(--purple-500);
  border-color: var(--purple-500);
}

.taskLabel .checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 4px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid var(--gray-100);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.taskLabel input:checked ~ .checkmark::after {
  display: block;
}
